<% provide(:title, "Finished the Rails Tutorial") %>
<h1>Finished at last!</h1>
<p>Rails has been a lot of fun to learn and I'm looking forward to using it again in the future. While there has definitely been some aggravation here and there, it was overall pleasurable and rewarding
  to complete a Twitter clone.</p>
